{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="card border-0 shadow-sm bg-transparent text-white">
        <div class="card-header bg-transparent border-0">
          <h3 class="card-title text-center my-3">Reset Your Password</h3>
        </div>
        <div class="card-body">
          <p class="text-center">Please enter your new password and confirm it to reset your password.</p>
          <form id="reset-password-form">
            <div class="form-floating mb-3">
              <input type="password" class="form-control bg-dark text-white" name="new_password" id="new_password"
                placeholder="New Password" required>
              <label for="new_password" class="text-white">New Password</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control bg-dark text-white" name="confirm_password"
                id="confirm_password" placeholder="Confirm Password" required>
              <label for="confirm_password" class="text-white">Confirm Password</label>
            </div>
            <div class="d-grid">
              <button type="submit" class="btn btn-primary btn-lg">Reset Password</button>
            </div>
          </form>
          <div id="error-message" class="alert alert-danger bg-danger text-white" role="alert" style="display: none;">
          </div>
          <div id="success-message" class="alert alert-success bg-success text-white" role="alert"
            style="display: none;"></div>
        </div>
        <div class="card-footer bg-transparent border-0">
          <div class="text-center">
            <div class="container">
              <p>Remembered your password? <a href="/users/login" class="link-info link-opacity-75">Sign in</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const resetPasswordForm = document.getElementById('reset-password-form');
  const errorMessage = document.getElementById('error-message');
  const successMessage = document.getElementById('success-message');
  const token = "{{ token }}";
  const url = `/users/password-reset/update/${encodeURIComponent(token)}`

  resetPasswordForm.addEventListener('submit', (event) => {
    event.preventDefault();

    const password_reset = {
      password: resetPasswordForm.elements['new_password'].value,
      password_confirm: resetPasswordForm.elements['confirm_password'].value,
    };

    errorMessage.style.display = "none";

    fetch(url, {
      method: 'PATCH',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(password_reset)
    })
      .then((response) => {
        if (!response.ok) {
          return response.json().then((data) => {
            throw new Error(data.detail);
          });
        }
        return response.json();
      })
      .then((data) => {
        successMessage.style.display = 'block';
        successMessage.textContent = data.message;
        errorMessage.style.display = 'none';
        setTimeout(() => {
          window.location.href = '/users/login';
        }, 2000);
      })
      .catch((error) => {
        errorMessage.textContent = error.message;
        errorMessage.style.display = 'block';
      });
  });

</script>
{% endblock %}
