{% extends "base.html" %} {% block title %}Reset Password{% endblock %} {% block
content %}
<div class="container-fluid container-login">
  <div class="center-margin-top custom-width-small">
    <h3 class="card-title text-center my-3">Reset Your Password</h3>
    <div class="card-body">
      <p class="text-center">
        Please enter your new password and confirm it to reset your password.
      </p>
      <form id="reset-password-form" style="margin: auto">
        <div class="input-group mb-3">
          <div class="form-floating">
            <input
              type="password"
              class="form-control bg-dark text-white"
              name="new_password"
              id="new_password"
              placeholder="New Password"
              required
            />
            <label for="new_password" class="text-white">New Password</label>
          </div>
          <span class="input-group-text"
            ><i class="bi bi-eye-slash" id="toggleNewPassword"></i
          ></span>
        </div>
        <div class="input-group mb-3">
          <div class="form-floating">
            <input
              type="password"
              class="form-control bg-dark text-white"
              name="confirm_password"
              id="confirm_password"
              placeholder="Confirm Password"
              required
            />
            <label for="confirm_password" class="text-white"
              >Confirm Password</label
            >
          </div>
          <span class="input-group-text"
            ><i class="bi bi-eye-slash" id="toggleConfirmPassword"></i
          ></span>
        </div>
        <div class="d-grid">
          <button type="submit" class="btn btn-bd-primary btn-lg">
            Reset Password
          </button>
        </div>
      </form>
      <div class="text-center mt-3">
        <p class="fs-5">
          Remembered your password?
          <a href="/users/login" class="my-link link-opacity-100">Sign in</a>
        </p>
      </div>
      <div class="container-error text-center">
        <div
          id="error-message"
          class="alert alert-danger bg-danger text-white"
          role="alert"
          style="display: none"
        ></div>
        <div
          id="success-message"
          class="alert alert-success bg-success text-white"
          role="alert"
          style="display: none"
        ></div>
      </div>
    </div>
  </div>
</div>

<script>
  const resetPasswordForm = document.getElementById("reset-password-form");
  const errorMessage = document.getElementById("error-message");
  const successMessage = document.getElementById("success-message");
  const token = "{{ token }}";
  const url = `/users/password-reset/update/${encodeURIComponent(token)}`;

  resetPasswordForm.addEventListener("submit", (event) => {
    event.preventDefault();

    const password_reset = {
      password: resetPasswordForm.elements["new_password"].value,
      password_confirm: resetPasswordForm.elements["confirm_password"].value,
    };

    errorMessage.style.display = "none";

    fetch(url, {
      method: "PATCH",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(password_reset),
    })
      .then((response) => {
        if (!response.ok) {
          return response.json().then((data) => {
            throw new Error(data.detail);
          });
        }
        return response.json();
      })
      .then((data) => {
        successMessage.style.display = "block";
        successMessage.textContent = data.message;
        errorMessage.style.display = "none";
        setTimeout(() => {
          window.location.href = "/users/login";
        }, 2000);
      })
      .catch((error) => {
        errorMessage.textContent = error.message;
        errorMessage.style.display = "block";
      });
  });
  const toggleNewPassword = document.querySelector("#toggleNewPassword");
  const newPassword = document.querySelector("#new_password");
  toggleNewPassword.addEventListener("click", () => {
    // Toggle the type attribute using
    // getAttribure() method
    const type =
      newPassword.getAttribute("type") === "password" ? "text" : "password";
    newPassword.setAttribute("type", type);
    // Toggle the eye and bi-eye icon
    this.classList.toggle("bi-eye");
  });

  const toggleConfirmPassword = document.querySelector(
    "#toggleConfirmPassword"
  );
  const confirmPassword = document.querySelector("#confirm_password");
  toggleConfirmPassword.addEventListener("click", () => {
    // Toggle the type attribute using
    // getAttribure() method
    const type =
      confirmPassword.getAttribute("type") === "password" ? "text" : "password";
    confirmPassword.setAttribute("type", type);
    // Toggle the eye and bi-eye icon
    this.classList.toggle("bi-eye");
  });
</script>
{% endblock %}
