{% if is_auth %}
  {% extends 'auth/base.html' %}
{% else %}
  {% extends 'base.html' %}
{% endif %}

{% block title %}Weather for {{ location_data.location }}, {{ location_data.country }}{% endblock %}

{% block content %}
  <div class="container my-5">
    <h1>Weather for {{ location_data.location }}, {{ location_data.country }}</h1>
    <table class="table text-white">
      <tbody>
        {% for key, value in weather_data.items() %}
        <tr>
          <td>{{ key.capitalize() }}</td>
          <td>{{ value }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
