{% if is_auth %} {% extends 'auth/base.html' %} {% else %} {% extends
'base.html' %} {% endif %} {% block title %}Weather for {{
location_data.location }}, {{ location_data.country }}{% endblock %} {% block
content %}
<div class="container-fluid h-100" style="padding: 0">
  <ul class="fs-3 nav nav-tabs border-0" id="weatherTabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active"
        id="clothingTab"
        data-bs-toggle="tab"
        data-bs-target="#clothingTabContent"
        type="button"
        role="tab"
        aria-controls="clothingTabContent"
        aria-selected="true"
      >
        Clothing
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="weatherTab"
        data-bs-toggle="tab"
        data-bs-target="#weatherTabContent"
        type="button"
        role="tab"
        aria-controls="weatherTabContent"
        aria-selected="true"
      >
        Weather
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="forecastTab"
        data-bs-toggle="tab"
        data-bs-target="#forecastTabContent"
        type="button"
        role="tab"
        aria-controls="forecastTabContent"
        aria-selected="true"
      >
        Forecast
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="locationTab"
        data-bs-toggle="tab"
        data-bs-target="#locationTabContent"
        type="button"
        role="tab"
        aria-controls="locationTabContent"
        aria-selected="false"
      >
        Location
      </button>
    </li>
  </ul>
  <hr
    class="border-4 opacity-100"
    style="border-color: #d8d8f6; margin-top: 5px"
  />
  <div class="tab-content" id="weatherTabsContent">
    <div
      class="tab-pane fade show active"
      id="clothingTabContent"
      role="tabpanel"
      aria-labelledby="clothingTab"
    >
      <div class="table-responsive custom-margin-top">
        <h1 class="d-flex justify-content-center text-center">
          Clothing for {{ location_data.location }}, {{ location_data.country }}
        </h1>
        <div class="text-center d-flex justify-content-center"></div>
        {% if clothing_data %}
        <table class="table-custom mx-auto header-margin-top">
          <tr>
            <td>Feels like, °C</td>
            <td>
              <img src={{ weather_data["img url"] }} style="max-height: 70px;
              max-width: 70px" /> {{ weather_data["feels like, °C"] }}
            </td>
          </tr>
          {% for clothing_type, clothing_items in clothing_data.items() %} {% if
          not loop.last %}
          <tbody>
            <tr>
              <th colspan="2">{{ clothing_type.capitalize() }}</th>
            </tr>
            {% for key, value in clothing_items.items() %}
            <tr>
              <td>{{ key.capitalize() }}</td>
              <td>
                {% for item in value %} {% if loop.last %} {{ item }} {% else %}
                {{ item }}, {% endif %} {% endfor %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
          {% else %}
          <tbody>
            <tr>
              <th colspan="2">{{ clothing_type.capitalize() }}</th>
            </tr>
            {% for value in clothing_items %}
            <tr>
              <td colspan="2">
                {% if loop.last %} {{ value }} {% else %} {{ value }}, {% endif
                %}
              </td>
            </tr>
            {% endfor %}
          </tbody>

          {% endif %} {% endfor %}
        </table>
        {% endif %}
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="weatherTabContent"
      role="tabpanel"
      aria-labelledby="weatherTab"
    >
      <div class="table-responsive custom-margin-top">
        <h1 class="d-flex justify-content-center text-center">
          Weather for {{ location_data.location }}, {{ location_data.country }}
        </h1>
        <div class="text-center d-flex justify-content-center">
          <img src={{ weather_data["img url"] }} style="max-height: 70px;
          max-width: 70px" />
          <span class="fs-1" style="display: inline-block; line-height: 70px"
            >{{ weather_data["temperature, °C"] }} °C</span
          >
        </div>
        <table class="table-custom mx-auto">
          <tbody>
            {% for key, value in weather_data.items() %}
            <tr>
              {% if key != "img url" %}
              <td>{{ key.capitalize() }}</td>
              <td>{{ value|default('No data') }}</td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="forecastTabContent"
      role="tabpanel"
      aria-labelledby="forecastTab"
    >
      <div class="table-responsive">
        <ul class="fs-4 nav nav-tabs" id="forecastTabs" role="tablist">
          {% for day in forecast_data %}
          <li class="nav-item" role="presentation">
            <button
              class="nav-link {% if loop.first %}active{% endif %}"
              id="{{ day.date|replace('-', '') }}-tab"
              data-bs-toggle="tab"
              data-bs-target="#{{ day.date|replace('-', '') }}-tabContent"
              type="button"
              role="tab"
              aria-controls="{{ day.date|replace('-', '') }}-tabContent"
              aria-selected="{% if loop.first %}true{% else %}false{% endif %}"
            >
              {{ day.date }}
            </button>
          </li>
          {% endfor %}
        </ul>
        <div class="tab-content" id="forecastTabsContent">
          {% for day in forecast_data %}
          <div
            class="tab-pane fade {% if loop.first %}show active{% endif %}"
            id="{{ day.date|replace('-', '') }}-tabContent"
            role="tabpanel"
            aria-labelledby="{{ day.date|replace('-', '') }}-tab"
          >
            <h1 class="d-flex justify-content-center text-center">
              Forecast for {{ location_data.location }}, {{ day.date[-5:] }}
            </h1>
            <table class="table-custom mx-auto">
              <thead>
                <tr>
                  <th>Time</th>
                  <th>Temperature (°C)</th>
                  <th>Condition</th>
                </tr>
              </thead>
              <tbody>
                {% for hour in day.hourly_forecast %}
                <tr>
                  <td>{{ hour.time[-5:] }}</td>
                  <td>{{ hour.temp }}</td>
                  <td>
                    <div
                      class="d-flex align-items-center justify-content-center"
                    >
                      <span>{{ hour.condition }}</span>
                      <img
                        src="{{ hour.img_url }}"
                        alt="Weather Icon"
                        class="weather-icon ml-2"
                      />
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="locationTabContent"
      role="tabpanel"
      aria-labelledby="locationTab"
    >
      <div class="table-responsive custom-margin-top">
        <h1 class="d-flex justify-content-center header-margin-top text-center">
          Location Information for {{ location_data.location }}, {{
          location_data.country }}
        </h1>
        <table class="table-custom mx-auto">
          <tbody>
            {% for key, value in location_data.items() %}
            <tr>
              <td>{{ key.capitalize() }}</td>
              <td>{{ value|default('No data', true) }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
