{% if is_auth %}
  {% extends 'auth/base.html' %}
{% else %}
  {% extends 'base.html' %}
{% endif %}

{% block title %}Search weather city{% endblock %}

{% block content %}
  <div class="container my-5">
    <h1>Search for Weather</h1>
    <p>Use the form below to search for weather information of any city in the world:</p>
    <div class="row justify-content-center">
      <div class="col-md-7">
        <form onsubmit="searchForOperation(event)">
          <div class="input-group mb-3">
            <input id="city" type="text" class="form-control" placeholder="Enter a city name" required>
            <button class="btn btn-primary" type="submit">Get Weather</button>
          </div>
        </form>
        <div id="error-message" class="alert alert-danger bg-danger text-white" role="alert" style="display: none;"></div>
      </div>
    </div>
  </div>

  <script src="{{ url_for('static', path='js/weather_service/search.js') }}"></script>
{% endblock %}
