{% if is_auth %}
  {% extends 'auth/base.html' %}
{% else %}
  {% extends 'base.html' %}
{% endif %}

{% block title %}WeatherBuddy{% endblock %}

{% block content %}
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <img src="{{ url_for('static', path='images/logo_weather_buddy.png') }}" alt="WeatherBuddy logo" class="img-fluid img-thumbnail rounded mx-auto d-block 
          d-sm-inline d-md-none d-lg-inline" 
          style="max-width: 200px; height: auto;">
        <h1 class="mt-3">Welcome to WeatherBuddy</h1>
        <p class="lead">Get up-to-date weather information for any city in the world!</p>
      </div>
    </div>
  </div>
{% endblock %}
