<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %} {% endblock %}</title>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <link rel="preload" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', path='images/favicon/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', path='images/favicon/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', path='images/favicon/favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', path='images/favicon/site.webmanifest') }}">
  <style>
    body {
      background-image: url("{{ url_for('static', path='images/pexels-eva-bronzini-7629313.jpg') }}");
      background-size: cover;
      background-repeat: no-repeat;
      color: whitesmoke;
    }
    .navbar {
      height: 80px;
      font-size: 1.4rem;
      color: var(--bs-text-opacity);
      background-color: var(--bs-success);
    }
    [id^="error-message"],
    [id^="success-message"] {
      margin-top: 20px;
    }
    tr:hover {
      background-color: rgb(0, 0, 0);
    }
  </style>
  {% block head %}{% endblock %}
</head>
<body>
  <nav class="navbar navbar-expand-sm bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="{{ url_for('static', path='images/logo_weather_buddy.png') }}" alt="Logo" width="50" height="50" class="d-inline-block rounded">
        <span class="navbar-text">WeatherBuddy</span>
      </a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav me-auto">
          <a class="nav-link active navbar-text" aria-current="page" href="/">Home</a>
          <a class="nav-link navbar-text" href="/weather/search">Search</a>
          <a class="nav-link navbar-text" href="/users/my_city_info">My City</a>
          <a class="nav-link navbar-text" href="/about">About</a>
        </div>
        <div class="navbar-nav">
          <div class="btn-group dropstart">
            <a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              My Account
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" href="/users/me">My Profile</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/users/settings">Settings</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/users/logout">Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>  
  {% block content %}{% endblock %}
</body>
</html>
