<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %} {% endblock %}</title>
  <link rel="preload" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', path='images/favicon/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', path='images/favicon/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', path='images/favicon/favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', path='images/favicon/site.webmanifest') }}">
  <style>
    body {
      background-image: url("{{ url_for('static', path='images/pexels-eva-bronzini-7629313.jpg') }}");
      background-size: cover;
      background-repeat: no-repeat;
      color: whitesmoke;
    }
    .navbar {
      height: 80px;
      font-size: 1.4rem;
      color: var(--bs-text-opacity);
      background-color: var(--bs-success);
    }
  </style>
  {% block head %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="{{ url_for('static', path='images/logo_weather_buddy.png') }}" alt="Logo" width="50" height="50" class="d-inline-block">
          <span class="navbar-text">WeatherBuddy</span>
        </a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav me-auto">
            <a class="nav-link active navbar-text" aria-current="page" href="/">Home</a>
            <a class="nav-link navbar-text" href="/weather/search">Search</a>
            <a class="nav-link navbar-text" href="/about">About</a>
          </div>
          <div class="navbar-nav">
            <a class="btn btn-success" href="/users/me">My profile</a>
            <a class="btn btn-success" href="#">Logout</a>
          </div>
        </div>
      </div>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>
