{% extends "auth/base.html" %}

{% block title %}Send Verification Email{% endblock %}

{% block content %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="card border-0 shadow-sm bg-transparent text-white">
        <div class="card-header bg-transparent border-0">
          <h3 class="card-title text-center my-3">Send Verification Email</h3>
        </div>
        <div class="card-body">
          <p class="text-center mb-3">Click the button below to send a verification email:</p>
          <div class="d-grid">
            <button id="send-verification-btn" class="btn btn-primary btn-lg">Send Verification Email</button>
          </div>
          <div id="error-message" class="alert alert-danger bg-danger text-white" role="alert" style="display: none;"></div>
          <div id="success-message" class="alert alert-success bg-success text-white" role="alert" style="display: none;"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const sendVerificationBtn = document.getElementById('send-verification-btn');
  const errorMessage = document.getElementById('error-message');
  const successMessage = document.getElementById('success-message');

  sendVerificationBtn.addEventListener('click', async () => {
    try {
      const response = await fetch('/users/email-verification', { method: 'POST' });

      const data = await response.json();
      if (!response.ok) {
        throw new Error(data.detail);
      } else {
        successMessage.style.display = 'block';
        successMessage.textContent = data.message;
        errorMessage.style.display = 'none';
      }
    } catch (error) {
      errorMessage.textContent = error.message;
      errorMessage.style.display = 'block';
    }
  });
</script>
{% endblock %}
