{% if is_auth %} {% extends 'auth/base.html' %} {% else %} {% extends
'base.html' %} {% endif %} {% block title %}Verify Email{% endblock %} {% block
content %}
<div
  class="container-fluid container-login position-absolute top-50 start-50 translate-middle"
>
  <div class="card border-0 shadow-sm bg-transparent text-white">
    <div class="card-header bg-transparent border-0">
      <h3 class="card-title text-center">Verify Email</h3>
    </div>
    <div class="card-body">
      <p class="text-center">
        Click the button below to verify your email address:
      </p>
      <div class="container-login">
        <button
          id="verify-email-btn"
          class="btn btn-bd-primary btn-lg"
          style="width: 90%"
        >
          Verify Email
        </button>
      </div>
      <div
        id="error-message"
        class="alert alert-danger bg-danger text-white"
        role="alert"
        style="display: none"
      ></div>
      <div
        id="success-message"
        class="alert alert-success bg-success text-white"
        role="alert"
        style="display: none"
      ></div>
    </div>
  </div>
</div>
<script>
  const verifyEmailBtn = document.getElementById("verify-email-btn");
  const errorMessage = document.getElementById("error-message");
  const successMessage = document.getElementById("success-message");
  const token = "{{ token }}";
  const url = `/users/verify-email/${encodeURIComponent(token)}`;

  verifyEmailBtn.addEventListener("click", async () => {
    try {
      const response = await fetch(url);

      const data = await response.json();
      if (!response.ok) {
        throw new Error(data.detail);
      } else {
        successMessage.style.display = "block";
        successMessage.textContent = data.message;
        errorMessage.style.display = "none";
        setTimeout(() => {
          window.location.href = "/users/login";
        }, 2500);
      }
    } catch (error) {
      errorMessage.textContent = error.message;
      errorMessage.style.display = "block";
      successMessage.style.display = "none";
    }
  });
</script>
{% endblock %}
