{% extends "base.html" %} {% block title %}Step 2 - User Information{% endblock
%} {% block content %}
<div class="container-fluid container-login">
  <div class="center-margin-top custom-width-small">
    <div class="card border-0 shadow-sm bg-transparent text-white">
      <h3 class="card-title text-center my-3 fs-1">
        Step 2 - User Information
      </h3>
      <div class="card-body">
        <form id="user-info-form">
          <input type="hidden" name="city" id="city" value="{{ city }}" />
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control bg-dark text-white"
              name="username"
              id="username"
              placeholder="Username"
              required
            />
            <label for="username" class="text-white">Username</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="email"
              class="form-control bg-dark text-white"
              name="email"
              id="email"
              placeholder="Email"
              required
            />
            <label for="email" class="text-white">Email address</label>
          </div>
          <div class="input-group mb-3">
            <div class="form-floating">
              <input
                type="password"
                class="form-control bg-dark text-white"
                name="password"
                id="password"
                placeholder="Password"
                required
              />
              <label for="password" class="text-white">Password</label>
            </div>
            <span class="input-group-text"
              ><i class="bi bi-eye-slash" id="togglePassword"></i
            ></span>
          </div>
          <div class="input-group mb-3">
            <div class="form-floating">
              <input
                type="password"
                class="form-control bg-dark text-white"
                name="repeat-password"
                id="repeat-password"
                placeholder="Repeat password"
                required
              />
              <label for="repeat-password">Repeat password</label>
            </div>
            <span class="input-group-text"
              ><i class="bi bi-eye-slash" id="toggleRepeatPassword"></i
            ></span>
          </div>
          <div class="d-grid">
            <button
              type="submit"
              class="btn btn-bd-primary btn-lg"
              id="submit-button"
            >
              Sign up!
              <span
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
              ></span>
            </button>
          </div>
        </form>
        <div
          id="error-message"
          class="alert alert-danger bg-danger text-white"
          role="alert"
          style="display: none"
        ></div>
        <div
          id="success-message"
          class="alert alert-success bg-success text-white"
          role="alert"
          style="display: none"
        ></div>
      </div>
    </div>
  </div>
</div>
<script src="{{ url_for('static', path='js/registration_step_2_user_data.js') }}"></script>
<script>
  const togglePassword = document.querySelector("#togglePassword");
  const password = document.querySelector("#password");
  togglePassword.addEventListener("click", () => {
    // Toggle the type attribute using
    // getAttribure() method
    const type =
      password.getAttribute("type") === "password" ? "text" : "password";
    password.setAttribute("type", type);
    // Toggle the eye and bi-eye icon
    this.classList.toggle("bi-eye");
  });

  const toggleRepeatPassword = document.querySelector("#toggleRepeatPassword");
  const repeatPassword = document.querySelector("#repeat-password");
  toggleRepeatPassword.addEventListener("click", () => {
    // Toggle the type attribute using
    // getAttribure() method
    const type =
      repeatPassword.getAttribute("type") === "password" ? "text" : "password";
    repeatPassword.setAttribute("type", type);
    // Toggle the eye and bi-eye icon
    this.classList.toggle("bi-eye");
  });
</script>
{% endblock %}
