{% extends "base.html" %} {% block title %}Step 1 - Select City{% endblock %} {%
block content %}
<div class="container-fluid container-login">
  <div class="center-margin-top custom-width-small">
    <h3 class="card-title text-center my-3 fs-1">Step 1 - Enter your city</h3>
    <div class="card-body">
      <form onsubmit="searchByCity(event)">
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control bg-dark text-white"
            name="city"
            id="city"
            placeholder="City"
            required
          />
          <label for="city" class="text-white">City</label>
        </div>
        <div class="d-grid">
          <button
            type="submit"
            class="btn btn-bd-primary btn-lg"
            id="submit-button"
          >
            Next
            <span
              class="spinner-border spinner-border-sm align-middle"
              role="status"
              aria-hidden="true"
            ></span>
          </button>
        </div>
      </form>
      <div class="text-center mt-3 fs-5">
        <p>
          Already have an account?
          <a href="/users/login" class="my-link link-opacity-100">Sign in</a>
        </p>
      </div>
      <div class="container-error text-center">
        <div
          id="error-message"
          class="alert alert-danger bg-danger text-white custom-width"
          role="alert"
          style="display: none"
        ></div>
      </div>
    </div>
  </div>
</div>
<script src="{{ url_for('static', path='js/registration_step_1_city.js') }}"></script>
{% endblock %}
