{% extends "base.html" %} {% block title %}Registration Success{% endblock %} {%
block content %}
<div
  class="container-fluid container-login position-absolute top-50 start-50 translate-middle"
>
  <div class="">
    <div class="card border-0 shadow-sm bg-transparent text-white">
      <div class="card-header bg-transparent border-0">
        <h3 class="card-title text-center my-3">Registration Successful</h3>
      </div>
      <div class="card-body">
        <div class="alert alert-success bg-success text-white" role="alert">
          {{ message }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
