{% extends "auth/base.html" %} {% block title %}Send Verification Email{%
endblock %} {% block content %}
<div class="container-fluid">
  <div class="center-margin-top">
    <h3 class="text-center header-margin-top">Send Verification Email</h3>
    <p class="text-center">
      Click the button below to send a verification email:
    </p>
    <div class="container-login">
      <button
        id="send-verification-btn"
        class="btn btn-bd-primary btn-lg custom-width"
      >
        Send Verification Email
      </button>
    </div>
    <div class="container-login text-center">
      <div
        id="error-message"
        class="alert alert-danger bg-danger text-white"
        role="alert"
        style="display: none"
      ></div>
      <div
        id="success-message"
        class="alert alert-success bg-success text-white"
        role="alert"
        style="display: none"
      ></div>
    </div>
  </div>
</div>

<script>
  const sendVerificationBtn = document.getElementById("send-verification-btn");
  const errorMessage = document.getElementById("error-message");
  const successMessage = document.getElementById("success-message");

  sendVerificationBtn.addEventListener("click", async () => {
    try {
      const response = await fetch("/users/email-verification", {
        method: "POST",
      });

      const data = await response.json();
      if (!response.ok) {
        throw new Error(data.detail);
      } else {
        successMessage.style.display = "block";
        successMessage.textContent = data.message;
        errorMessage.style.display = "none";
      }
    } catch (error) {
      errorMessage.textContent = error.message;
      errorMessage.style.display = "block";
    }
  });
</script>
{% endblock %}
