{% extends "auth/base.html" %} {% block title %}Account Settings{% endblock %}
{% block content %}
<div class="container my-5">
  <div class="row">
    <div class="col-md-3">
      <div
        class="nav flex-column nav-pills custom-nav-pills"
        role="tablist"
        aria-orientation="vertical"
      >
        <a
          class="nav-link active fs-4"
          href="#change-data-tab"
          data-bs-toggle="tab"
          role="tab"
          aria-controls="change-data-tab"
          aria-selected="true"
          >Change data</a
        >
        <a
          class="nav-link fs-4"
          href="#change-city-data-tab"
          data-bs-toggle="tab"
          role="tab"
          aria-controls="change-city-data-tab"
          aria-selected="false"
          >Change city</a
        >
        <a
          class="nav-link fs-4"
          href="#change-password-tab"
          data-bs-toggle="tab"
          role="tab"
          aria-controls="change-password-tab"
          aria-selected="false"
          >Change password</a
        >
        <a
          class="nav-link fs-4"
          href="#delete-account-tab"
          data-bs-toggle="tab"
          role="tab"
          aria-controls="delete-account-tab"
          aria-selected="false"
          >Delete account</a
        >
      </div>
    </div>
    <div class="col-md-9">
      <div class="tab-content">
        <div
          class="tab-pane fade show active"
          id="change-data-tab"
          role="tabpanel"
          aria-labelledby="change-data-tab"
        >
          <h3 class="mt-3">Change account data</h3>
          <hr
            class="border-4 opacity-100"
            style="border-color: #d8d8f6; margin-top: 5px"
          />
          <form id="change-data-form">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control bg-dark text-white"
                id="username"
                placeholder="Username"
                value="{{ user_data.username }}"
              />
              <label for="name">Username</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="email"
                class="form-control bg-dark text-white"
                id="email"
                placeholder="Email"
                value="{{ user_data.email }}"
              />
              <label for="email">Email</label>
            </div>
            <div class="d-grid">
              <button type="submit" class="btn btn-bd-primary btn-lg">
                Save changes
              </button>
            </div>
          </form>
          <div
            id="error-message"
            class="alert alert-danger bg-danger text-white"
            role="alert"
            style="display: none"
          ></div>
          <div
            id="success-message"
            class="alert alert-success bg-success text-white"
            role="alert"
            style="display: none"
          ></div>
        </div>
        <div
          class="tab-pane fade"
          id="change-city-data-tab"
          role="tabpanel"
          aria-labelledby="change-city-data-tab"
        >
          <h3 class="mt-3">Change city</h3>
          <hr
            class="border-4 opacity-100"
            style="border-color: #d8d8f6; margin-top: 5px"
          />
          <form id="change-city-data-form">
            <div class="form-floating mb-3">
              <input
                type="city"
                class="form-control bg-dark text-white"
                id="city"
                placeholder="City"
                value="{{ user_data.city }}"
              />
              <label for="city">City</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="country"
                class="form-control bg-dark text-muted"
                id="country"
                placeholder="Country"
                value="{{ user_data.country }}"
                disabled
              />
              <label for="country">Country</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="region"
                class="form-control bg-dark text-muted"
                id="region"
                placeholder="Region"
                value="{{ user_data.region }}"
                disabled
              />
              <label for="region">Region</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="latitude"
                class="form-control bg-dark text-muted"
                id="latitude"
                placeholder="Latitude"
                value="{{ user_data.latitude }}"
                disabled
              />
              <label for="latitude">Latitude</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="longitude"
                class="form-control bg-dark text-muted"
                id="longitude"
                placeholder="Longitude"
                value="{{ user_data.longitude }}"
                disabled
              />
              <label for="longitude">Longitude</label>
            </div>
            <div class="d-grid">
              <button type="submit" class="btn btn-bd-primary btn-lg">
                Go to city selection
              </button>
            </div>
          </form>
          <div
            id="error-message-city"
            class="alert alert-danger bg-danger text-white"
            role="alert"
            style="display: none"
          ></div>
          <div
            id="success-message-city"
            class="alert alert-success bg-success text-white"
            role="alert"
            style="display: none"
          ></div>
        </div>
        <div
          class="tab-pane fade"
          id="change-password-tab"
          role="tabpanel"
          aria-labelledby="change-password-tab"
        >
          <h3 class="mt-3">Change password</h3>
          <hr
            class="border-4 opacity-100"
            style="border-color: #d8d8f6; margin-top: 5px"
          />
          <form id="change-password-form">
            <div class="input-group mb-3">
              <div class="form-floating">
                <input
                  type="password"
                  class="form-control bg-dark text-white"
                  id="current-password"
                  placeholder="Current password"
                />
                <label for="current-password">Current password</label>
              </div>
              <span class="input-group-text"
                ><i class="bi bi-eye-slash" id="toggleCurrentPassword"></i
              ></span>
            </div>
            <div class="input-group mb-3">
              <div class="form-floating">
                <input
                  type="password"
                  class="form-control bg-dark text-white"
                  id="new-password"
                  placeholder="New password"
                />
                <label for="new-password">New password</label>
              </div>
              <span class="input-group-text"
                ><i class="bi bi-eye-slash" id="toggleNewPassword"></i
              ></span>
            </div>
            <div class="input-group mb-3">
              <div class="form-floating">
                <input
                  type="password"
                  class="form-control bg-dark text-white"
                  id="repeat-password"
                  placeholder="Repeat password"
                />
                <label for="repeat-password">Repeat password</label>
              </div>
              <span class="input-group-text"
                ><i class="bi bi-eye-slash" id="toggleRepeatPassword"></i
              ></span>
            </div>
            <div class="d-grid">
              <button type="submit" class="btn btn-bd-primary btn-lg">
                Save changes
              </button>
            </div>
          </form>
          <div
            id="error-message-password"
            class="alert alert-danger bg-danger text-white"
            role="alert"
            style="display: none"
          ></div>
          <div
            id="success-message-password"
            class="alert alert-success bg-success text-white"
            role="alert"
            style="display: none"
          ></div>
        </div>
        <div
          class="tab-pane fade"
          id="delete-account-tab"
          role="tabpanel"
          aria-labelledby="delete-account-tab"
        >
          <h3 class="mt-3">Delete account</h3>
          <hr
            class="border-4 opacity-100"
            style="border-color: #d8d8f6; margin-top: 5px"
          />
          <p>
            Are you sure you want to delete your account? This action is
            irreversible.
          </p>
          <div class="d-grid">
            <button
              id="delete-btn"
              class="btn btn btn-warning me-md-2 fs-3"
              data-bs-toggle="modal"
              data-bs-target="#deleteModal"
            >
              Delete account
            </button>
          </div>

          <!-- Delete Confirmation Modal -->
          <div
            class="modal fade"
            id="deleteModal"
            tabindex="-1"
            aria-labelledby="deleteModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="deleteModalLabel">
                    Confirm Deletion
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <p>
                    To confirm the account deletion, please enter the word
                    <strong>"DELETE"</strong>:
                  </p>
                  <input
                    type="text"
                    id="confirmation-input"
                    class="form-control mb-2"
                    placeholder="Confirmation"
                    required
                  />
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Cancel
                  </button>
                  <button
                    type="button"
                    id="confirm-delete-btn"
                    class="btn btn-danger"
                  >
                    Delete
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const toggleCurrentPassword = document.querySelector(
    "#toggleCurrentPassword"
  );
  const currentPassword = document.querySelector("#current-password");
  toggleCurrentPassword.addEventListener("click", () => {
    // Toggle the type attribute using
    // getAttribure() method
    const type =
      currentPassword.getAttribute("type") === "password" ? "text" : "password";
    currentPassword.setAttribute("type", type);
    // Toggle the eye and bi-eye icon
    this.classList.toggle("bi-eye");
  });

  const toggleNewPassword = document.querySelector("#toggleNewPassword");
  const newPassword = document.querySelector("#new-password");
  toggleNewPassword.addEventListener("click", () => {
    // Toggle the type attribute using
    // getAttribure() method
    const type =
      newPassword.getAttribute("type") === "password" ? "text" : "password";
    newPassword.setAttribute("type", type);
    // Toggle the eye and bi-eye icon
    this.classList.toggle("bi-eye");
  });

  const toggleRepeatPassword = document.querySelector("#toggleRepeatPassword");
  const repeatPassword = document.querySelector("#repeat-password");
  toggleRepeatPassword.addEventListener("click", () => {
    // Toggle the type attribute using
    // getAttribure() method
    const type =
      repeatPassword.getAttribute("type") === "password" ? "text" : "password";
    repeatPassword.setAttribute("type", type);
    // Toggle the eye and bi-eye icon
    this.classList.toggle("bi-eye");
  });
</script>

<script src="{{ url_for('static', path='js/settings.js') }}"></script>
{% endblock %}
