{% extends "auth/base.html" %} {% block title %}My data{% endblock %} {% block
content %}
<div class="container-fluid h-100" style="padding: 0">
  <ul class="fs-3 nav nav-tabs border-0" id="userDataTabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active"
        id="dataTab"
        data-bs-toggle="tab"
        data-bs-target="#dataTabContent"
        type="button"
        role="tab"
        aria-controls="dataTabContent"
        aria-selected="true"
      >
        Data
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="cityTab"
        data-bs-toggle="tab"
        data-bs-target="#cityTabContent"
        type="button"
        role="tab"
        aria-controls="cityTabContent"
        aria-selected="false"
      >
        City
      </button>
    </li>
  </ul>
  <hr
    class="border-4 opacity-100"
    style="border-color: #d8d8f6; margin-top: 5px"
  />
  <div class="tab-content" id="userDataTabsContent">
    <div
      class="tab-pane fade show active"
      id="dataTabContent"
      role="tabpanel"
      aria-labelledby="dataTab"
    >
      <div class="table-responsive custom-margin-top">
        <h1 class="d-flex justify-content-center header-margin-top">My Data</h1>
        <table class="table-custom mx-auto header-margin-top">
          <tbody>
            {% for key, value in personal_data.items() %}
            <tr>
              <th>{{ key.capitalize() }}</th>
              <td>
                {% if value == True %}Yes{% elif value == False %}No{% else %}{{
                value }}{% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="text-center">
          <div class="container fs-4">
            <p style="margin-top: 20px">
              You can change the data
              <a href="/users/settings" class="my-link ink-opacity-100">here</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="cityTabContent"
      role="tabpanel"
      aria-labelledby="cityTab"
    >
      <div class="table-responsive custom-margin-top">
        <h1 class="d-flex justify-content-center header-margin-top">
          City Information
        </h1>
        <table class="table-custom mx-auto header-margin-top">
          <tbody>
            {% for key, value in city_data.items() %}
            <tr>
              <th>{{ key.capitalize() }}</th>
              <td>
                {% if value == True %}Yes{% elif value == False %}No{% else %}{{
                value }}{% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
