body {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #1c0459;
  color: whitesmoke;
  overflow-x: hidden;
  height: 100vh;
  padding-top: 70px;
}

[id^="error-message"],
[id^="success-message"] {
  margin-top: 20px;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.vertical-line {
  width: 1px;
  height: 25px;
  background-color: #fff;
  margin: 0 10px;
}

.frame-link {
  border: 1px solid #fff;
  padding: 4px 8px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.frame-link:hover {
  background-color: #4a4a48;
}

.navbar-text:hover {
  color: #d8d8f6;
}

.feature-text {
  color: whitesmoke;
}

.table-hover-cursor:hover tr {
  cursor: pointer;
}

.table-hover-cursor:hover th {
  cursor: default;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.btn-bd-primary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: #df2935;
  --bs-btn-border-color: #df2935;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #b42029;
  --bs-btn-hover-border-color: #b42029;
  --bs-btn-focus-shadow-rgb: #df2935;
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #8f1c24;
  --bs-btn-active-border-color: #8f1c24;
}

.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-height: 700px) {
  .container-login {
    margin-top: 100px;
  }
}

.header-margin-top {
  margin-bottom: 30px;
}

form i {
  cursor: pointer;
}

form i:hover {
  color: #eada5c;
}

a.my-link {
  color: #eada5c;
}

a.my-link:link {
  text-decoration: none;
}

a.my-link:visited {
  text-decoration: none;
}

a.my-link:hover {
  text-decoration: underline;
  color: #d8d8f6;
}

.table-custom {
  border-collapse: collapse;
  background: linear-gradient(45deg, #1768ac, #db2955);
}

.table-custom td,
.table-custom th {
  border: 3px solid #50d8d7;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  color: white;
}

.table-custom tr {
  font-size: 1.6rem;
  font-style: italic;
}

@media (min-width: 2560px) {
  .table-custom tr {
    font-size: 1.8rem;
  }
}

@media (max-width: 1280px) {
  .table-custom tr {
    font-size: 1.4rem;
  }
}

@media (max-width: 768px) {
  .table-custom tr {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .table-custom tr {
    font-size: 1rem;
  }
}

.table-custom tr:hover {
  background: linear-gradient(45deg, #1768ac, #ff6b35);
}

svg:hover {
  fill: #eada5c;
}

.custom-margin-top {
  margin-top: 10vh;
}

.center-margin-top {
  margin-top: 30vh;
}

@media (max-height: 851px) {
  .custom-width-small {
    margin-top: 5vh;
  }
}

@media (max-height: 851px) and (max-width: 1024px) {
  .custom-width-small {
    margin-top: 2vh;
  }
}

.custom-width {
  width: 40%;
}

@media (max-width: 820px) {
  .custom-width {
    width: 90%;
  }
}

.custom-width-small {
  width: 30%;
}

@media (max-width: 820px) {
  .custom-width-small {
    width: 80%;
  }
}

.container-error {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  white-space: nowrap;
}
